/* Close Button */
.modal-section {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.modal-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
}

.modal-btn button {
	background-color: #f0e4d3;
	border: none;
	outline: none;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 20px 40px;
	border-radius: 10px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.modal-btn button:hover {
	font-size: 1.1rem;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.modal {
	display: none;
	max-width: 500px;
	border-radius: 10px;
	padding: 20px 40px;
	margin-top: 2rem;
	font-size: 1.2rem;
	font-weight: 500;
	background-color: #f0e4d3;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 1000;
}

.modal p {
	margin-top: 0.5rem;
}

.modal-btn-hide {
	display: none;
}

.modal-visible {
	display: block;
}

.overlay-visible {
	display: block;
}
